{% assign section_image1 = section.settings.image1| img_url: '800x' %}
{% assign section_image2 = section.settings.image2| img_url: '800x' %}
{% assign section_image3 = section.settings.image3| img_url: '800x' %}
{% assign section_image4 = section.settings.image4| img_url: '800x' %}
{% assign section_image5 = section.settings.image5| img_url: '800x' %}
{% assign section_image6 = section.settings.image6| img_url: '800x' %}

<div class="bg-overlay-color">
<div class="page-width">
      	<div class="row">
            <div class="col-md-7">
               <div class="row">
                <div class="col-md-12">
                  <h3 class="bold">{{ section.settings.heading }}</h3>    
                </div>
                <div class="col-md-12">
                  <h4 class="QS_enroll_desc">{{ section.settings.description}}</h4>
                 </div>
              </div>
            </div>
            <div class="col-md-5"></div>
      	</div>
        <!--start of 6 section -->
       	<div class="row sec_text_center div_padding_top">
           <div class="col-md-4 col-sm-6 col-12">
             <div class="QS_love_img_div">
               <div class="div_img_container" style="background-image:url({{section_image1}}); background-size: cover;">
               </div>
               <div class="QS_love_head"><h4 class="bold">{{ section.settings.heading1  }}</h4></div>
             </div>
           </div>
            <div class="col-md-4 col-sm-6 col-12">
              <div class="QS_love_img_div">
                <div class="div_img_container" style="background-image:url({{section_image2}}); background-size: cover;">
              </div>
                <div class="QS_love_head"><h4 class="bold">{{ section.settings.heading2  }}</h4></div>
              </div>
           </div>
            <div class="col-md-4 col-sm-6 col-12">
              <div class="QS_love_img_div">
                <div class="div_img_container" style="background-image:url({{section_image3}}); background-size: cover;">
              </div>
                <div class="QS_love_head"><h4 class="bold">{{ section.settings.heading3  }}</h4></div>
              </div>
           </div>
            <div class="col-md-4 col-sm-6 col-12">
              <div class="QS_love_img_div">
                <div class="div_img_container" style="background-image:url({{section_image4}}); background-size: cover;">
              </div>
                <div class="QS_love_head"><h4 class="bold">{{ section.settings.heading4  }}</h4></div>
              </div>
           </div>
          <div class="col-md-4 col-sm-6 col-12">
              <div class="QS_love_img_div">
                <div class="div_img_container" style="background-image:url({{section_image5}}); background-size: cover;">
              </div>
                <div class="QS_love_head"><h4 class="bold">{{ section.settings.heading5  }}</h4></div>
              </div>
           </div>
          <div class="col-md-4 col-sm-6 col-12">
              <div class="QS_love_img_div">
                <div class="div_img_container" style="background-image:url({{section_image6}}); background-size: cover;">
              </div>
                <div class="QS_love_head"><h4 class="bold">{{ section.settings.heading6  }}</h4></div>
              </div>
           </div>
      	</div>
      	<!--end of 6 section -->
</div>
</div>
	   
 
<style>
  	.bg-overlay-color {
  		background-color: rgba(255, 255, 255, 0.0);
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
      	padding-top: 150px;
		padding-bottom: 50px;
  	}
  
  	@media (max-width: 900px) {
  		.bg-overlay-color {
  		background-color: rgba(255, 255, 255, 0.8);
    	width: 100%;
    	height: 100%;
  		}
  	}
 
  .QS_enroll_desc_link
  {
     padding-top:40px; 
    padding-bottom:60px; 
  }
  .QS_enroll_desc
  {
   padding-top:20px; 
  }
  .QS_elegibility_req_row
  {
   	padding:60px 0; 
  }
    .div_img_container
        {
            height: 140px;
    		width: 100%;
    		background-repeat: no-repeat;
    		/* border-bottom: 105px; */
    		border-radius: 10px;
        }
   	.QS_love_img_div {
		text-align: center;
        border-bottom-left-radius: 12px;
    	border-bottom-right-radius: 12px;
       	border-top-left-radius: 12px;
    	border-top-right-radius: 12px;
    	width: 236px;
    	box-shadow: 5px 8px 10px 5px #c3baba3b;
        background: #fff;
      	margin-bottom: 20px;
    }
  	@media (max-width: 1039px) {
  		.QS_love_img_div {
    		width: 100%;
    	}
  	}
       	.QS_love_head {
         	padding-top: 15px;
    		padding-bottom: 1px; 
        }
        .QS_Love_parent_div
        {
          padding:50px 0;
        }
  		#shopify-section-page-about-nutrition {
  	    background-image: url(https://cdn.shopify.com/s/files/1/0346/0438/4395/files/eligible-cover.jpg?v=1588594196);
    	background-position: top right;
    	background-repeat: no-repeat;
    	background-size: 900px;
  		}
</style>

{% schema %}
  {
    "name": "Nutrition",
    "settings": [
 	{
          "type": "text",
          "id": "heading",
          "label": {
                   "en": "Heading"
              },
          "default": {
                   "en": "Title Goes Here"
              }
        },
		
		{
          "type": "textarea",
          "id": "description",
          "label": {
                   "en": "Description"
              },
			"default": {
                   "en": "Description Goes Here"
              }
          
        },
		{
          "type": "image_picker",
          "id": "image1",
          "label": {
           
            "en": "Image 1"
           
          }
        },
  
		{
          "type": "text",
          "id": "heading1",
          "label": {
                   "en": "Title 1 "
              },
          "default": {
                   "en": "Title here"
              }
        },
{
          "type": "image_picker",
          "id": "image2",
          "label": {
           
            "en": "Image 2"
           
          }
        },
  
		{
          "type": "text",
          "id": "heading2",
          "label": {
                   "en": "Title 2"
              },
          "default": {
                   "en": "Title here"
              }
        },
		{
          "type": "image_picker",
          "id": "image3",
          "label": {
           
            "en": "Image 3"
           
          }
        },
		{
          "type": "text",
          "id": "heading3",
          "label": {
                   "en": "Title 3"
              },
          "default": {
                   "en": "Title here"
              }
        },
		{
          "type": "image_picker",
          "id": "image4",
          "label": {
           
            "en": "Image 4"
           
          }
        },
		{
          "type": "text",
          "id": "heading4",
          "label": {
                   "en": "Title 4"
              },
          "default": {
                   "en": "Title here"
              }
        },
		{
          "type": "image_picker",
          "id": "image5",
          "label": {
           
            "en": "Image 5"
           
          }
        },
		{
          "type": "text",
          "id": "heading5",
          "label": {
                   "en": "Title 5"
              },
          "default": {
                   "en": "Title here"
              }
        },
		{
          "type": "image_picker",
          "id": "image6",
          "label": {
           
            "en": "Image 6"
           
          }
        },
		{
          "type": "text",
          "id": "heading6",
          "label": {
                   "en": "Title 6"
              },
          "default": {
                   "en": "Title here"
              }
        }


 	]
  }
{% endschema %}
