{% assign section_image = section.settings.image| img_url: '800x' %}
<div class="QS_ambassador_steps_img">
<div class="bg-overlay-color">
<div class="page-width">
  <div class="row  QS_steps_sec">
    <div class="col-md-6">
      <div attr="QS_steps_elgibility" class="QS_ambassador_steps_div QS_ambassador_steps_active_div">
         {{section.settings.heading1}}
         <div class="right_icon"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
      </div>
      
      <div attr="QS_steps_faqy" class="QS_ambassador_steps_div">
         {{section.settings.heading2}}
         <div class="right_icon"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
       </div>
      
       <div attr="QS_steps_rules" class="QS_ambassador_steps_div ">
       {{section.settings.heading3}}
         <div class="right_icon"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
      </div>
      
    </div>
    <div class="col-md-6">
      <div class="QS_steps_elgibility QS_steps_block  QS_steps_block_active  ">
      	<h2 class="QS_ambassadorperks_section_points_head">{{section.settings.heading1}}</h2>
         <div class="QS_steps_desc  ">
        	{{section.settings.description1}}
      </div>
      </div>
       
      <div class="QS_steps_faqy QS_steps_block QS_steps_block_inactive">
      	<h2 class="QS_ambassadorperks_section_points_head">{{section.settings.heading2}}</h2>
         <div class="QS_steps_desc">
        	{{section.settings.description2}}
      </div></div>
      
      <div class="QS_steps_rules QS_steps_block QS_steps_block_inactive">
        <h2 class="QS_ambassadorperks_section_points_head">{{section.settings.heading3}}</h2>
        <div class="QS_steps_desc">
        	{{section.settings.description3}}
        </div>
      </div>
    </div>
    
  </div>
</div>
</div>
</div>

<script>
  $('.QS_ambassador_steps_div').click(function(){
    let mclass= $(this).attr('attr');
    let cccm='.'+mclass;
    $('.QS_ambassador_steps_div').removeClass('QS_ambassador_steps_active_div');
    $(this).addClass('QS_ambassador_steps_active_div');
    $('.QS_steps_block').removeClass('QS_steps_block_active');
    $('.QS_steps_block').addClass('QS_steps_block_inactive');
    $(cccm).removeClass('QS_steps_block_inactive');
 	$(cccm).addClass('QS_steps_block_active');
  
  });
  
  
</script>

<style>
  .bg-overlay-color {
  		background-color: rgba(255, 255, 255, 0.0);
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
  	}
  
  	@media (max-width: 1000px) {
  		.bg-overlay-color {
  		background-color: rgba(255, 255, 255, 0.85);
    	width: 100%;
    	height: 100%;
  		}
  	}
  .QS_steps_block_inactive
  {
   display:none; 
  }
  .QS_steps_desc_active
  {
   display:block; 
  }
  .right_icon
  {
    
    display: inline-block;
    float: right;
    /* padding: 10px; */
    width: 8%;
  }
  .QS_ambassador_steps_div {
    padding: 13px;
    box-shadow: -2px 2px 19px 3px #c2c2c259;
    width: 74%;
    margin-bottom: 30px;
    border: none;
    border-radius: 9px;
    color:#c2c2c2;
    cursor:pointer;
  }
  @media (max-width: 414px) {
  	.QS_ambassador_steps_div {
    	width: 100%;
    }
  }
  .QS_ambassadorperks_section_points_head
  {
    font-size: 40px;
    font-family: 'Proxima Nova Lt';
  }
  .QS_ambassador_steps_active_div
  {
     color:#f1af29;
    
  }
  .QS_steps_sec
  {
   padding-top:60px; 
  }
  
  .QS_steps_desc p {
  font-size: 15px;
  }
  .QS_ambassador_steps_img
  {
    background-image:url("{{section_image}}");
 	background-repeat:no-repeat;
    background-size: 550px;
    background-position: left bottom;
    margin-bottom: 80px;
  }
</style>

{% schema %}
  {
    "name": "Tab Section",
    "settings": [

    {
          "type": "text",
          "id": "heading1",
          "label": {
                   "en": "Title"
              },
          "default": {
                   "en": "Requirements for Eligibility"
              }
        },
		{
          "type": "richtext",
          "id": "description1",
          "label": {
                   "en": "Description"
              }
          
        },
		
{
          "type": "text",
          "id": "heading2",
          "label": {
                   "en": "Title"
              },
          "default": {
                   "en": "Frequently Asked Questions"
              }
        },
		{
          "type": "richtext",
          "id": "description2",
          "label": {
                   "en": "Description"
              }
          
        },
		{
          "type": "text",
          "id": "heading3",
          "label": {
                   "en": "Title"
              },
          "default": {
                   "en": "Sharing rules & Instructions"
              }
        },
		{
          "type": "richtext",
          "id": "description3",
          "label": {
                   "en": "Description"
              }
          
        },
		{
          "type": "image_picker",
          "id": "image",
          "label": {
           
            "en": " Image"
           
          }
        }
		
 		

]
  }
{% endschema %}